@import "tailwindcss";
@plugin "daisyui" {
  /**
   * Note: If you make changes to this file, ensure you also update the corresponding settings
   * in the `themes.ts` file located in the `src/app` directory to maintain consistency across the application.
   */
  themes: emerald --default, dark, valentine, retro, cupcake, dracula --prefersdark, dim, corporate, fantasy;
}

@theme {
  --spacing-navbar-h: 5.5rem;

  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
}
