@import "tailwindcss";
@plugin "daisyui" {
  /* themes: emerald --default; */
}

@theme {
  --spacing-navbar-h: 5.5rem;

  @keyframes spin-reverse {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
