@import "tailwindcss";
@import "tw-animate-css";

html {
  scroll-behavior: smooth;
}

:root {
  --background: hsl(0 0% 97.65%);
  --foreground: hsl(0 0% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(0 0% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(0 0% 20%);
  --primary: hsl(246.91 74.33% 63.33%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(210.37 75.7% 79.02%);
  --secondary-foreground: hsl(0 0% 20%);
  --muted: hsl(45 15.62% 74.9%);
  --muted-foreground: hsl(0 0% 43.14%);
  --accent: hsl(72 17.93% 49.22%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 83.14%);
  --input: hsl(0 0% 83.14%);
  --ring: hsl(246.91 74.33% 63.33%);
  --chart-1: hsl(246.91 74.33% 63.33%);
  --chart-2: hsl(282.29 43.57% 47.25%);
  --chart-3: hsl(274.62 100% 25.49%);
  --chart-4: hsl(218.54 79.19% 66.08%);
  --chart-5: hsl(207.27 44% 49.02%);
  --sidebar: hsl(0 0% 97.65%);
  --sidebar-foreground: hsl(0 0% 20%);
  --sidebar-primary: hsl(246.91 74.33% 63.33%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(72 17.93% 49.22%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: hsl(0 0% 83.14%);
  --sidebar-ring: hsl(246.91 74.33% 63.33%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: hsl(220 14.75% 11.96%);
  --foreground: hsl(0 0% 89.8%);
  --card: hsl(197.14 6.93% 19.8%);
  --card-foreground: hsl(0 0% 89.8%);
  --popover: hsl(197.14 6.93% 19.8%);
  --popover-foreground: hsl(0 0% 89.8%);
  --primary: hsl(246.91 74.33% 63.33%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(274.62 100% 25.49%);
  --secondary-foreground: hsl(0 0% 89.8%);
  --muted: hsl(0 0% 26.67%);
  --muted-foreground: hsl(0 0% 63.92%);
  --accent: hsl(218.54 79.19% 66.08%);
  --accent-foreground: hsl(0 0% 89.8%);
  --destructive: hsl(0 84.24% 60.2%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 26.67%);
  --input: hsl(0 0% 26.67%);
  --ring: hsl(246.91 74.33% 63.33%);
  --chart-1: hsl(246.91 74.33% 63.33%);
  --chart-2: hsl(282.29 43.57% 47.25%);
  --chart-3: hsl(274.62 100% 25.49%);
  --chart-4: hsl(218.54 79.19% 66.08%);
  --chart-5: hsl(207.27 44% 49.02%);
  --sidebar: hsl(220 14.75% 11.96%);
  --sidebar-foreground: hsl(0 0% 89.8%);
  --sidebar-primary: hsl(246.91 74.33% 63.33%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(218.54 79.19% 66.08%);
  --sidebar-accent-foreground: hsl(0 0% 89.8%);
  --sidebar-border: hsl(0 0% 26.67%);
  --sidebar-ring: hsl(246.91 74.33% 63.33%);
  --font-sans: Montserrat, sans-serif;
  --font-serif: Playfair Display, serif;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --animate-fade-in: fade-in 0.5s ease-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-slide-up: slide-up 0.6s ease-out forwards;
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* --- */

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/* --- */

@utility animate-delay-100 {
  animation-delay: 100ms;
}

@utility animate-delay-200 {
  animation-delay: 200ms;
}

@utility animate-delay-300 {
  animation-delay: 300ms;
}

@utility animate-delay-400 {
  animation-delay: 400ms;
}

@utility animate-delay-500 {
  animation-delay: 500ms;
}

/* --- */

@utility animated-underline {
  position: relative;
  overflow: hidden;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
